<%- include ("./partials/header") %>
<h1>
	Sign Up!
</h1>

<form action="/register" method = "POST">
	<input type="text" placeholder = "username" name="username">
	<input type="password" placeholder = "password" name="password">
	<button>
		Sign Up
	</button>
</form>
<%- include ("./partials/footer") %>